<div class="container mat-typography">
  <h1>{{ 'ABOUT.TITLE' | translate }}</h1>
  <br>
  <br>
  <p><strong>{{ 'APP.ORGANIZATION' | translate }}</strong><br>
  </p>TOGA is a fashion studio that delivers personalized uniform designs, enabling corporations to choose useful and purposeful clothing for their employees.
  We also deliver individual designs to customers that want to embrance the TOGA Lifestyle, the minimalistic approach to clothing.
  <br><br>
  <h2>The TOGA brand</h2>
  <h4><strong>Mission statement</strong></h4>
  <p>
    We at TOGA believe that fashion, first and foremost, should be something useful and functional. Second, purposeful fashion 
    should not require a supreme effort in deciding what to wear. Clothing should follow the design path of any object we 
    consider to be functional and that supports our way of living. We at TOGA strive to give impulse to a new fashion era, 
    one that addresses the functionality of the notion, but that is at the service of the customer. We see clothing always 
    as functional, modular, the only straight way to improve the overall quality of life. 
  </p>
  <p>
    For all the people who think, dream, create: 
    stop wasting time with choosing a garderobe. Our TOGA garment pieces serve a purpose of extreme functionality. 
    The customers feel that our uniforms make them more important while wearing them. But it also saves them so much time, 
    time that can be reinvested with family, friends, hobbies. Always choose TOGA to preserve your life quality, 
    to destress your morning habits, and to shine differently. And lastly, choose TOGA to keep your true self throughout the 
    day, by only wearing purposeful clothing.
  </p>
  <h4><strong>What services are being provided</strong></h4>
  <p>
    TOGA Imperial UG haftungsbeschränkt (TOGA for short), is a company in the fashion clothing industry, dedicated to corporate
    uniforms niche. We analyse the corporate environment and choose the appropriate design. We develop high quality 3D designs
    to fit any corporate identity. We produce TOGA uniform pieces like: jackets, coats, dresses, shirts, blouses, pants, skirts 
    (also in collaboration with 3rd party suppliers).
  </p>
  <h4><strong>What products are being sold</strong></h4>
  <p>
    Uniform Design consultation;
    <br>
    Corporate Environment & Individual Lifestyle analysis;
    <br> 
    3D fashion designs ready for production;
    <br>
    Prototype development of fashion garments.
    <br> <br>
  </p>
  <h2>Embrance the TOGA lifestyle</h2>
  <p>
    Wear a personalized Uniform.
    <br>
    Try useful clothing for a change.
    <br>
    Enjoy fashion with a defined purpose.
    <br>
    Live a functional & minimalistic life.
    <br> <br>
    <h4><strong>TOGA: the philosophy of purposefulness in clothing</strong></h4>
</div>
