@mixin blog-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $is-dark-theme: map-get($theme, is-dark);

  app-blog {
    .article-toolbar {
      background: transparent;
      .mat-icon {
        text-shadow: 0 0 2px if($is-dark-theme, black, white);
      }
    }
    .description {
      img {
        width: 100%;
        // display: none; here I decide how images look like inside the flow text on blog
      }
    }
  }
}
